    /* Custom CSS written by Homer Gaines http:/www.homergaines.com 7-2015 */

    html {
        height: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #6d7077;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
    }

 h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

    p {
        margin: 0 0 20px;
    }

    p,
    li {
        font-size: 1.8em;
        color: #6d7077;
        text-rendering: optimizeLegibility;
        line-height: 1.2;
    }

    li {
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    .kak {
        font-family: sans-serif;
        font-weight: lighter;
        /*text-transform: uppercase;*/
        font-size: 0.9em;
        margin: 0em 0em 0em 0.06em;
    }

    a {
        white-space: nowrap;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease;
        cursor: pointer;
    }

    body {
        font-family: 'Lato', sans-serif;
        font-size: 100%;
        font-weight: 400;
        background-color: #6d7077;
        letter-spacing: 1.5px;
        background-image: url(img/pattern2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    div {
        overflow: hidden;
    }

    header {
        position: fixed;
        width: 90%;
    }

    section: {
        position: relative;
    }

    .firstSection {
        margin-top: 350px;
        -webkit-box-shadow: 0px -11px 80px 0px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0px -11px 80px 0px rgba(0, 0, 0, 0.32);
        box-shadow: 0px -11px 80px 0px rgba(0, 0, 0, 0.32);
    }

    .apex {
        padding: 20px 0px;
        position: fixed;
        width: 100%;
        z-index: 777;
    }

    .hero-logo {
        width: 100%;
        opacity: 1;
    }

    .content {
        background: #fff;
        height: 20%;
        padding: 100px 0px;
    }

    article {
        max-width: 998px;
        margin: auto;
    }

    .container {
        width: 100%;
    }

    .activeLink {
        color: #7be0ff !important;
    }

    .nav-tint {
        background: #6d7077;
        opacity: 1;
        padding: 30px 0px;
        width: 100%;
        position: absolute;
        top: 0;
        transition: opacity 0.5s ease;
    }

    .showTint {
        opacity: 0.97;
    }

    .hero {
        height: 350px;
        text-align: center;
        position: relative;
        color: #fff;
    }

    .hero .intro {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero h1 {
        color: #fff;
        font-size: 6em;
        text-transform: uppercase;
        margin: 0px;
        font-weight: 200;
        letter-spacing: .03em;
    }

    .hero p {
        color: #fff;
        font-size: 2em;
        letter-spacing: .05em;
    }

    .hero .contactBtn {
        background: none;
        border: 2px solid #fff;
        min-width: 250px;
        height: 50px;
        font-size: 1.9em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 30px 0px 0px 0px;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        letter-spacing: .2em;
        opacity: 1;
        padding: 10px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }

    .hero .contactBtn:hover {
        background-color: #fff;
        color: #000;
        opacity: 0.8;
    }

    .fa-angle-down {
        font-size: 65px;
    }

    .hero .contactBtn:hover + div {
        color: #8cd97c;
    }

    .whatIs {
        height: 100%;
    }

    .whatIs p {
        font-size: 2em;
    }

    .whatIs a {
        color: #0f9dd8;
    }

    .whatIs a:hover {
        color: #7be0ff;
        text-decoration: none;
    }

    .shorthline {
        border-bottom: 1px solid #cccccc;
        width: 50%;
        margin: 25px auto 35px auto;
    }

    .why {
        background: #6d7077;
        background: url(img/pattern3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .why p,
    .why h2,
    .why h3,
    .why a,
    .why a:visited {
        color: #fff;
    }

    .why a {
        font-size: 1.8em;
        font-weight: 500;
        opacity: 1;
        color: #8cd97c;
    }

    .why li {
        color: #fff;
    }

    .readmore {
        display: none;
    }

    .who {
        background: url('img/hero1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .who p,
    .who h2,
    .who h3,
    .who li,
    .who a,
    .who a:visited {
        color: #fff;
    }

.who h2{
    text-align: left;
}

    .who .about {
        margin-top: 50px;
        float: left;
    }

    .services p,
    .services h2 {
        color: #000;
    }

    .services li {
        color: #000;
    }

    .right-list {
        display: none;
    }

    .services {
        background: #8cd97c;
        -webkit-box-shadow: inset 0px 29px 19px -13px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: inset 0px 29px 19px -13px rgba(0, 0, 0, 0.24);
        box-shadow: inset 0px 29px 19px -13px rgba(0, 0, 0, 0.24);
        background: linear-gradient(-45deg, #8cd97c, #daf7d5)
    }

    .naics {
        text-align: center;
        width: 100%;
        padding-top: 40px;
    }

    .projects .client {
        margin-bottom: 6rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .projects .clientName {
        font-weight: 700;
    }

    .projects .client a {
        margin-top: 21px;
        display: block;
        text-decoration: underline;
    }

/*    .projects .col-xs-12 {
        padding-left: 0;
    }*/

    .hline {
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 3rem;
        margin-top: -36px;
    }

    .footer {
        text-align: center;
        background: #101010;
        background: url('img/pattern3.jpg') no-repeat fixed center;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .footer .container {
        text-align: center;
    }

    .footer p {
        color: #fff;
        text-align: center;
    }

    .footer a,
    .footer a:active,
    .footer a:visited {
        color: #fff;
        text-decoration: none;
    }

    .footer a:hover {
        color: #8cd97c;
    }

    .footer .email {
        padding: 0px;
        font-size: 15px;
        text-align: center;
        margin: 40px 0px 0px 0px;
    }

    .email-icon {
        width: 70px;
        cursor: pointer;
    }

    .footer .fa {
        margin: 0px 0px 0pc 15px;
        font-size: 4em;
        width: 44px;
    }

    .form-parent h2 {
        color: #8cd97c;
    }

    #contactForm {
        width: 100%;
        text-align: left;
        margin: 20px auto;
        display: none;
    }

    #contactForm input,
    #contactForm textarea {
        font-family: 'Lato', sans-serif;
        width: 100%;
        margin: 0px 0px 10px 0px;
        background: #2c2c2c;
        border: none;
        color: #fff;
        padding: 10px;
        font-size: 1.6em;
        letter-spacing: 1px;
    }

    #contactForm input {
        height: 50px
    }

    #contactForm label {
        color: #fff;
        font-size: 1.3em;
        margin: 10px 0px;
        font-weight: normal;
        text-transform: uppercase;
    }

    #contactForm button {
        width: 100px;
        height: 40px;
        margin: 10px auto 0px auto;
        ;
        display: block;
        border: 2px solid #eee;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.6em;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        letter-spacing: .2em;
    }

    #contactForm button:hover {
        background-color: #8cd97c;
        color: #000;
        opacity: 1;
        border: 2px solid #8cd97c;
        font-weight: bold;
    }

    .socials {
        margin: 50px 0px;
        text-align: center;
    }

    .socials a {
        font-size: .8em;
    }

    .phone {
        font-size: 2em;
    }

    a.chamberlink {
        font-size: 14px;
    }

    .copyright {
        margin-top: 30px;
        font-size: 12px;
        color: #c6c6c6;
        text-align: center;
        font-weight: normal;
    }

    .credit {
        padding: 10px 0px 20px 0px;
        text-align: center;
        color: #898989;
        background: #000;
        font-size: 1em;
        font-family: sans-serif;
    }

    .credit a {
        color: #898989;
        text-transform: uppercase;
    }

    @media (min-width:768px) {
        .projects h2 {
            text-align: center;
        }
    }

    @media (min-width:1152px) {

        h2{text-align: center;}

        header {
            width: 100%;
        }
        .firstSection {
            margin-top: 800px;
        }
        .hero {
            height: 800px;
        }
        .hero .contactBtn {
            margin: 50px 0px 30px 0px;
        }
        .container {
            max-width: 44%;
            text-align: left;
        }
        .projects .client {
            /*margin-bottom: 6rem;*/
            padding-left: 15px;
            padding-right: 15px;
        }
        .clientWrap {
            border: 1px solid #f4f4f4;
            padding: 3rem;
            text-align: center;
        }
        .hline {
            display: none;
        }
        .shorthline {
            width: 10%;
        }
        .footer .fa {
            margin: 0px 11px;
            font-size: 35px
        }
        #contactForm {
            width: 70%;
            text-align: left;
            margin: 20px auto;
            display: none;
        }
    }
